<!DOCTYPE html>
<html lang="en" xmlns:c="http://java.sun.com/xml/ns/javaee">
<head>
    <meta charset="UTF-8">
    <title>all Users</title>
</head>
<body>
<h2>All Users</h2>
<br>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    <div th:each="user : ${users}">
        <tr>
            <td><a  th:text="${user.getId()}">user</a></td>
            <td><a th:href="@{/admin/{id}/edit (id=${user.getId()})}" th:text="${user.getUsername()}">user</a></td>
            <td><a  th:text="${user.getPassword()}">user</a></td>
        </tr>
    </div>
</table>
<br>
<input type="button" value="Add"
       onclick="window.location.href = 'admin/new'"/>
<br>
<input type="button" value="Logout"
       onclick="window.location.href ='/logout'"/>
</body>
</html>