<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name" class="form-label">Enter name:</label>
    <input type="text" minlength="2" maxlength="20" class="form-control" th:field="*{username}" id="name"/>
    <br/>
    <label for="password" class="form-label">Enter password:</label>
    <input type="text" minlength="2" maxlength="20" class="form-control" th:field="*{password}" id="password"/>
    <br/>
    <label> Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.getName()}"
               th:value="${role.getId()}"
               th:field="*{roles}"
        />
    </label>
    <br/>

    <input type="submit" value="Update!"/>
</form>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<input type="button" value="Logout"
       onclick="window.location.href ='/logout'"/>
</body>
</html>