<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
</head>
<body>
<h2>Create User</h2>

<form action="/admin" method="post">


  <label for="roles">Roles:</label>
  <ul>
    <li th:each="role : ${roles}">
      <input type="checkbox" id="role-[[${role.id}]]" name="roleIds" th:value="${role.id}"
             th:checked="${user.roles.contains(role)}">
      <label th:for="role-[[${role.id}]]" th:text="${role.name}"></label>
    </li>
  </ul>

  <input type="submit" value="Create">
</form>




</body>
</html>